<div class="card mt-3">
    <div class="card-body">
        <p><strong><%= link_to "•Your Listing",rooms_path, class: "sidelink" %>
        <p><%= link_to "•Your Reservations",reservations_path, class: "sidelink" %>
        <p class="mb-0"><%= link_to "•Your Trips",trips_path, class: "sidelink" %></strong>
    </div>
</div>