<div class="row">
    <% if @photos.count > 0 %>
        <% @photos.each do |photo| %>
            <div class="col-4">
                <div class="card">
                    <%= image_tag photo.image.url, class: "card-img-top" %>
                    <div class="card-body">
                        <i class="fa fa-trash float-right"></i>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

