@import "bootstrap";
@import "font-awesome";
@import "toastr";

.header {
  background-color: rgba(241, 241, 241, 0.938);
}

.footer {
  background-color: rgba(241, 241, 241, 0.938);
  bottom: 0;
}

.signup {
    margin: auto;
}

.btn-flat-simple {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #ECECEC;
    background: #000000;
    transition: .4s;
    width: 200px;
  }
  
  .btn-flat-simple:hover {
    background: #ECECEC;
    color:  #000000;
  }

  .profile_picture{
    height : 50px;
  }

  .profile_picture_index{
    height : 100px;
  }
  .profile_picture_index2{
    height : 100px;
    width: 87px;
  }

  .profile_gazou{
    height : 250px ;
  }

  select {
    width : 100%;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .select:before {
    content: '\25bc';
    font-size: 1.2em;
    position: absolute;
    color: black;
    top: 42px;
    right: 30px;
    transform: scale(0.94, 0.62);
  }
  
  .sidelink{
    color: #000000;
  }
  .sidelink:link { 
    color:#000000;
    }

  .sidelink:hover {
    color:#000000;
    text-decoration:none;
  }

  .show_page_photo {
    height: 650px;
  }

  .profile_picture_show {
    width: 100px;
  }

  .pagenate {
    nav{
    display : inline-block;
    }
  }

  .iconsize {
    font-size : 35px ;
  }

  .line_through {
    text-decoration: line-through ;
  }

  #map {
    position : relative;
    width : 800px;
    height : 400px;
  }

  // SEARCH
  #main {
    height: 50%;
    overflow: hidden;
  }

  #left {
    padding: 10px 300px 10px 20px;
    overflow: scroll;
    height: 100%;
  }

  #right {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
  }

  .map_price {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #00A699;
  }

  .googlemap{
    margin-top: 80px;
  }

// HOME PAGE
  .discovery-card {
    background-size: cover;
    background-position: center;
    height: 326px;
  }

  .card-header.preview {
    padding: 0;

    img {
      width: 100%;
      height: 400px;
    }
  }

  .card-header.search {
    padding: 0;

    img {
      width: 100%;
      height: 315px;
    }
  }



  .card-body.homes {
      height: 150px
  }

  .top {
    background: url(house.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: auto;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }

// index

 .profile_picture_index {
   width: 80px;
 }

// upload btn

.image_upload{
  margin: auto;
}

.image_form{
  display: none;
}