@import "bootstrap";
@import "font-awesome";
@import "toastr";

.signup {
    margin: auto;
}

.btn-flat-simple {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #ECECEC;
    background: #000000;
    transition: .4s;
    width: 200px;
  }
  
  .btn-flat-simple:hover {
    background: #ECECEC;
    color:  #000000;
  }

  .profile_picture{
    height : 50px;
  }

  .profile_gazou{
    height : 250px ;
  }

  select {
    width : 100%;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .select:before {
    content: '\25bc';
    font-size: 1.2em;
    position: absolute;
    color: black;
    top: 42px;
    right: 30px;
    transform: scale(0.94, 0.62);
  }
  