<div class="footer">
    <div class="col-12">
        <div class="container">                    
            <div class="row">
                <div class="text-left text-secondary">
                © ︎All right reserved
                </div>
                <div class="text-right text-secondary">
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-twitter-square"></i>
                    <i class="fa fa-instagram"></i>
                </div>
            </div>
        </div>    
    </div>
</div>