<footer class="border-top fixed-bottom">
    <div class="col-12">
        <div class="container">                    
            <div class="row">
                <div class="col-4 text-left text-secondary">
                © ︎All right reserved
                </div>
                <div class="col-8 text-right text-secondary">
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-twitter-square"></i>
                    <i class="fa fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</footer>